- return unless can?(current_user, :read_pod_logs, @project)
- return unless project_nav_tab?(:environments)

= nav_link(controller: :logs, action: [:show]) do
  = link_to project_logs_path(@project), title: _('Pod logs') do
    %span
      = _('Pod logs')
